
.app_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
    background-color: var(--c-black);
    color: var(--c-white);    
    font-family: ITCFranklinGothicLT-DmCp;
}

.app_footer_principal{
    height: 400px;
    width:880px;
}

/*partenar*/
.partenar_wrapper{
    height: 85%;
    width: 550px;    
}

.top_logo{
    display: flex;
    width: 100%;
    height: calc(100% / 2);
}

.logo{
    width: 50%;
    height: 100%;
}

.four_logo{
    width: 100%;
    height: 100%;
}

.four_top , .four_bot{
    display: flex;
    width: 100%;
    height: 50%;
}

.middle_logo{
    display: flex;
    width: 50%; 
    height: calc(100% / 4);   
}

.bottom_logo{
    width: 100%;
    display: flex;
    height: calc(100% / 4);
}

.footer_bin_area{
    width: 100%;
    height: calc(100% / 4);
}

.logo_wrapper{
    border:1px solid var(--c-white);
}

.square_big{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 50%;
    }
}

.square{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50%;
    }
}

.rectangle{
    width: 50%;
    height: 98%;
}

.paris_img{
    background-color: var(--c-grey);
    justify-content: center;
    display: flex;
    align-items: center;
}

.app_footer_partenairse{
    height: 620px;
    width: 550px;    
    /* .img{
        width: 80px;
        height: 80px;
    } */
}

.partenar_msg{
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
    p{
        color: var(--c-grey);
        font-size: 42px;
        line-height: 40px;
        margin: 0px;
    }
}

/*----*/
.app_footer_bottom{
    font-size: 20px;
    color: var(--c-white);
    background-color: lightblue;
    height:10%;
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;    
    p {
        margin:20px;
    }; 
    a:first-of-type{
        margin: 0 40px;
    }
    a:last-child{
        margin:20px;
    }
    a:hover{
        text-decoration: underline;
    }
}


.footer_top{
    display: flex;
}

.contact_sns{
    color:var(--c-white);
    display: flex;
}

.sns_icon_wrapper{    
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc{
    display: flex;
    /* align-items: center;
    justify-content: center; 
    border:1px solid var(--c-white); */
    img{
        height: auto;
        width: 65%;
    }
} 

@media(max-width: 800px) {
    
}