
.app_footer{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    background-color: var(--c-black);
    color: var(--c-white);    
    font-family: ITCFranklinGothicLT-DmCp;
}

.app_footer_principal{
    height: 400px;
    width:880px;
}

.app_footer_partenairse{
    background-color: palegoldenrod;
    height: 620px;
    width: 550px;    
    /* .img{
        width: 80px;
        height: 80px;
    } */
}

.partenar_msg{
    color: var(--c-grey);
    font-size: 42px;
    line-height: 40px;
}

.partenar_logo_table{
    background-color: lightcoral;
    border:1px solid var(--c-white);  
    width: 550px;   
    margin: auto;
    text-align: center;    
    tr{
        background-color: aqua
    };
    td{
    }
    img{
    };  
}

.adidas_logo{
    width: 50%;
    height: auto;
}

.img_wrap{
    background-color: blue;
    img{
        margin:10px;
    }
}

.partenairse_logo_wrapper{    
    background-color: greenyellow;
    display: flex;    
    flex-direction: column;    
    height: 60%;
      
}

.footer_bot_width{
    width: 50%;    
}

.footer_adidas_wrapper{
    background-color: yellow;
    /* width: 100%;*/
    height: 80%; 
    display: flex;
    flex-direction: row;    
    .bloc{
        align-items: center;
        justify-content: center;
        /* height: 100%;
        width: 100%; */
    }
}


.footer_right_wrapper{
    display: flex;
    flex-direction: column;    
    height: 100%;
    .footer_right_bot_top, .footer_right_bot_bot{
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.footer_right_wrapper > .bloc{
    width: 50%;
    height: 50%;
}


.pulse_bud_logo{
    background-color: orange;        
    height: 35%;
    display: flex;       
    align-items: center;
    justify-content: stretch;
    .img_wrapper{
        background-color: purple;
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid orange;
    }
}

.spotify_wrapper{
    
}

.app_footer_bottom{
    font-size: 20px;
    color: var(--c-white);
    background-color: lightblue;
    height:45px;
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;    
    p {
        margin:20px;
    }; 
    a:first-of-type{
        margin: 0 40px;
    }
    a:last-child{
        margin:20px;
    }
    a:hover{
        text-decoration: underline;
    }
}


.footer_top{
    display: flex;
}

.contact_sns{
    color:var(--c-white);
    display: flex;
}

.sns_icon_wrapper{    
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc{
    display: flex;
    /* align-items: center;
    justify-content: center; 
    border:1px solid var(--c-white); */
    img{
        height: auto;
        width: 65%;
    }
} 

.paris{    
    margin-top: 20px;    
}

.footer_paris_msg{
    background-color: tomato;
    flex: 50%;
    p{
        color: var(--c-white);
        font-family: ITCFranklinGothicLT-BkCp;
    }
}

.footer_paris_logo{
    /* color: var(--c-white); */
    background-color: var(--c-grey);
    flex: 50%;    
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px) {
    
}