@font-face {
    font-display: swap;
    font-family: ITCFranklinGothicLT-DmCp;
    font-style: normal;
    font-weight: 400;
    src: 
    url(../fonts/ITCFranklinGothicLT-DmCp.fb6cb00.woff) format("woff"),
    url(../fonts/ITCFranklinGothicLT-DmCp.7aadaed.woff2) format("woff2")
}

:root{
    --dash-clone-body-color : #f5f5f3;
    --title-color-black:#181818;
    --logo-fill-color:#1D1D1B;

    --c-white: #fff;
    --c-black: #181818;
    --c-blue-adidas: #00f;
    --c-light-blue: #00f;
    --c-red-adidas: #e3530f;
    --c-light-red: #ed5c5a;
    --c-grey: #f5f5f3;
    --c-transparent: transparent;

    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
    --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
    --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
    --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
    --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
    --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
    --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
    --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
    --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
    --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
    --ease-in-out-expo: cubic-bezier(1,0,0,1);
    --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);

    --layout-columns-count: 6;
    --layout-columns-gap: 5.3333333333vw;
    --layout-margin: 3.2vw;
    --layout-width: calc(100vw - var(--layout-margin)*2);
    --layout-column-width: calc((var(--layout-width) - ((var(--layout-columns-count) - 1)*var(--layout-columns-gap)))/var(--layout-columns-count));
}

html, body {
  height: auto;
  min-height: 100vh;
  overscroll-behavior-y: none;
}

body{
    margin:0;
}

.app{
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 100%; */
    background-color: var(--dash-clone-body-color);    
}

.app_header{    
    height: 40px;
    width: 50%;
    left: 50%;
    top: 60px;
    z-index: 3; /* 낮은 속성값 보다 큰 속성값이 늦게 그려짐 */
    display: flex; 
    position: fixed; /* scroll 에서 고정 */
    background-color: lightblue;
}

.home_wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_home{
    width: 90%;
    height: 90%;
    position: relative;
    border:1px solid var(--c-black);
}

.app_main{
    height: 80%;
    background-color: transparent;
}

.app_footer{
    /* display: flex; */
    height: 20%;
    width: 100%;
    background-color: var(--c-black);
    color: var(--c-white);
    font-family: ITCFranklinGothicLT-DmCp;
}

.app_footer_principal{
    background-color: lightsalmon;
    width: 50%;
}

.app_footer_partenairse{
    background-color: lightgrey;
    width: 50%;
}

.app_footer_bottom{
    background-color: lightgoldenrodyellow;
    height: 20px;
    width: 100%;
}

.contact_sns{
    color:var(--c-white);
    display: flex;
}

.sns_icon_wrapper{    
    width: 56px;
    height: 56px;
    border:1px solid var(--c-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc{
    background-color: lightblue;
    width: 80%;
    border:1px solid var(--c-white);   
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: auto;
        width: 50%;
    }
}

.big{
    background-color: lightgreen;
}

.paris{
    display: flex;
    justify-content: space-between;
}

.footer_paris_logo{
    color: var(--c-white);
    background-color: var(--c-grey);
}

.app_footer_bottom{
    p{
        font-size: 16px;
        line-height: 15px;
    }
}

@media(max-width: 800px) {
   
}

@media(min-width: 800px) {
    :root {
        --layout-columns-count:12;
        --layout-columns-gap: 2.1vw;
        --layout-margin: 3vw;
    }
}