.app_header{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.header_svg{
    svg{
        transform: translateX(-50%);
    };
}

.header_menu{
    display: flex;
    text-transform: uppercase;
    font-family: ITCFranklinGothicLT-DmCp;
    font-size: 16px;
    line-height: 16px;
    margin-right: 120px;
    a{
        text-decoration: none;
        color:var(--c-black);
    };
   
    p{
        margin:0 20px;
    }
}

.home_wrapper{
    img , picture {
        width: 100%;
        height: 100%;
    }
}

.mask{
    width: 250px;
    height: 250px;   
}

.basketball{
    width: 200px;
    height: 200px;
}

.buger_wrapper{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.burger_bar{
    width: 100%;
    height: 2px;
    background-color: var(--c-black);
}

.header_scroll{
    width: 50px;
    height: 150px;
    border-right: 1px solid #181818;
    border-top: 1px solid #181818;
    text-align: center;
    position: absolute;
    bottom: 0;
    p{
        line-height: 15px;
        font-size: 12px;        
        font-family: ITCFranklinGothicLT-BkCp;
        text-transform: uppercase;
    }
}


.bottom_msg{        
    font-size: 24px;
    line-height: 26px; 
    width: 300px;
    position: absolute;
    bottom: 15px;
    left: 120px;        
    .paris{
        font-family: ITCFranklinGothicLT-DmCp;
    };
    .chapelle{
        font-family: ITCFranklinGothicLT-BkCp;
    }
    p{
        margin:0px;
    }
}